.coleta-seletiva .card {
  margin: 0 0 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  .card {
    width: 48%;
    float: left;
    margin-right: 10px !important;
  }
}

.card dt, dd, .valor {
  padding: 10px;
}

.card dd {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.card dt {
  color: #fff;
  background-color: #5a5a5a;
}

.card:after {
  clear: both;
  content: '';
  display: table;
}

dl:nth-child(1) dt {
  background-color: #1c70e8;
}
dl:nth-child(2) dt {
  background-color: #da3434;
}
dl:nth-child(3) dt {
  background-color: #09bd09;
}
dl:nth-child(4) dt {
  background-color: #e2e206;
  color: #000;
}
dl:nth-child(5) dt {
  background-color: #000;
}
dl:nth-child(6) dt {
  background-color: #e47c15;
}
dl:nth-child(7) dt {
  background-color: #fff;
  color: #000;
}
dl:nth-child(8) dt {
  background-color: #8c0b8c;
}
dl:nth-child(9) dt {
  background-color: #49311c;
}
dl:nth-child(10) dt {
  background-color: #9a9a9a;
}
