.row {
  margin-bottom: 10px;
}

.btn-small.active {
  transform: scale(1.2);
  background: #1fd6c5;
  letter-spacing: 2px;
}

.waves-effect:hover {
  transition: all ease-in-out 300ms;
}

.links-nav a {
  display: block;
  font-size: 12px;
}

.links-nav .col {
  width: 50%;
  margin-bottom: 10px;
}

a.btn.active {
  background-color: #51d095;
  letter-spacing: 2px;
}

